body {
  background-image: url(C:\Users\H\OneDrive\Desktop\Code\Current\Gem\public\BG.png);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
